<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/landing_page.css">
    <link rel="stylesheet" href="input.css">
    <title>Falcon UI | Grid</title>
</head>

<body>
    <nav class="navbar-container d-flex">
        <div class="brand_name">
            <a class="navbar-heading" href="/">Falcon UI</a>
            <span class="brand_animation"></span>
        </div>
        <div class="navbar-list-container">
            <ul class="navbar-list d-flex">
                <li class="navbar-list-icons">
                    <a class="nav-icons" target="_blank" href="https://github.com/vaibhav18matere">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    <span class="brand_animation"></span>
                </li>
                <li class="nav_list_icons">
                    <a class="nav-icons" target="_blank" href="https://www.linkedin.com/in/vaibhavmatere">
                        <i class="fa fa-linkedin fa-2x"></i></a>
                    <span class="brand_animation"></span>
                </li>
                <li class="nav_list_icons">
                    <a class="nav-icons" target="_blank" href="https://twitter.com/vaibhav_matere">
                        <i class="fa fa-twitter fa-2x"></i></a>
                    <span class="brand_animation"></span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="midlle_container">
        <div class="siderbar_box">
            <div class="slider_box_item"><a href="/components/getting-started/start.html">Installation</a></div>
            <div class="slider_box_item"><a href="../alert/alert.html">Alert</a></div>
            <div class="slider_box_item"><a href="../avatar/avatar.html">Avatar</a></div>
            <div class="slider_box_item"><a href="../badge/badge.html">Badge</a></div>
            <div class="slider_box_item"><a href="../button/button.html">Button</a></div>
            <div class="slider_box_item"><a href="../card/card.html">Card</a></div>
            <div class="slider_box_item"><a class="active_item" href="../grid/grid.html">Grid</a></div>
            <div class="slider_box_item"><a href="../responive-image/responsive-img.html">Image</a></div>
            <div class="slider_box_item"><a href="../inputs/inputs.html">Input</a></div>
            <div class="slider_box_item"><a href="../lists/lists.html">List</a></div>
            <div class="slider_box_item"><a href="../modal/modal.html">Modal</a></div>
            <div class="slider_box_item"><a href="../navbar/navbar.html">Navbar</a></div>
            <div class="slider_box_item"><a href="../slider/slider.html">Slider</a></div>
            <div class="slider_box_item"><a href="../text-utilities/text-utilities.html">Utility</a></div>
        </div>
        <div class="content_box">
            <h1>Simple Grid</h1>
            <p>It grid-based layout system, with rows and columns, making it easier to design web pages without having
                to use floats and positioning.</p>
            <div class="resp-grid">
                <div class="text-card box-shadow pointer mr-1">
                    <h3 class="title">Card title here</h3>
                    <h4 class="subtitle">subtitle message here</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit consectetur voluptatum dolor
                        aliquid provident autem hic neque iste ex. Optio!</p>
                </div>
                <div class="text-card box-shadow pointer mr-1">
                    <h3 class="title">Card title here</h3>
                    <h4 class="subtitle">subtitle message here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit odio omnis quidem consequatur
                        beatae molestias repudiandae officiis blanditiis ratione sint.</p>
                </div>
                <div class="text-card box-shadow pointer mr-1">
                    <h3 class="title">Card title here</h3>
                    <h4 class="subtitle">subtitle message here</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, commodi sit! Suscipit ab
                        eaque eveniet, quibusdam rem adipisci veniam molestiae.</p>
                </div>
            </div>
            <div class="margin-top3">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=3024-night&wt=none&l=javascript&width=1026.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522resp-grid%2522%253E%250A%2520%2520%250A%2509%2509%253C%21--%2520add%2520your%2520content%2520here%2520--%253E%250A%253C%252Fdiv%253E"
                    style="width: 100%; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>