/* vertical card */
p{
    line-height: 1.5rem;
}
.responsive-img{
    max-width: 100%;
}
.card-desc{
    padding: 0.5rem 0.75rem 0.75rem 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1.5px;
    height: 12rem;
}
.strikethrough{
    text-decoration: line-through;
}
.primary .price h5{
    display: inline;
    padding-right: 0.45rem;
    letter-spacing: 1px;
}
.discount {
    color: var(--primary);
} 
.secondary .item-left {
    color: var(--danger); 
} 
.btn-icon{
    color:var(--cart-btn);
}
.wishlist{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
}
/* horizontal card */
.horizontal-card{
    padding: 0.75rem;
    border: 1px solid var(--secondary);
}
.horizontal-card-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 1rem;
}
.cart-item-img{
    width: 15rem;
} 
.cart-item-flex {
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
}
.details__primary {
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.price{
    display: flex;
    flex-wrap: wrap;
} 
.cart-item__price{
    padding: 0 1rem;
}
.cart-item__price span{
    font-size: 0.75rem;
}
.price__discount {
    color: var(--primary);
}
.horizontal-card-btns{
    justify-content: center;
}
/*text card */
.text-card {
    width: 20rem;
    padding: 3rem;
}
.box-shadow {
    box-shadow: 0 0 3px 3px var(--card-border);
}
.text-card .subtitle {
    color: var(--success);
    margin-block-start: 0;
} 
.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 17rem;
    transition: all 250ms ease-in-out;
}
/* overlay card */
.overlay-card{
    width: 25rem;
    position: relative;
    transition: all 250ms ease-in-out;
}
.overlay-card:hover{
    transform: scale(1.02);
}
.txt-overlay{
    position: absolute;
    bottom: 0;
    color: var(--white);
    padding: 1rem 1rem 0 1rem;
    opacity: 0.5;
    z-index: 1;
}
.overlay-card:hover .responsive-img {
    filter: brightness(50%);
}
.overlay-card:hover .txt-overlay,
  .overlay-card:hover .btn-icon{
    opacity: 1;
    filter: brightness(70%);
}
/* cards with badge */
.badge-on-card{
    width: fit-content;
    position: absolute;
    padding: 0.5rem;
    bottom: 600px;
    top: 10px;
    height: fit-content;
    right: 4%;
    color: var(--white);
    background: var(--cart-btn);
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 3px;
}
.badge-card-desc{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pri-badge-btn{
    margin: 1rem 10rem
}
/* dissmiss card */
.dismiss-card:hover{
    box-shadow: 15px 15px 20px -5px var(--dark);
}  
.dismiss-card{
    width: 20rem;
    position: relative;
}
.badge-cross-btn{
    position: absolute;
    top:0.4px;
    right:0.4px;
    color:var(--cart-btn);
    background-color: var(--white);
    padding: 3px;
}