<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/landing_page.css">
    <link rel="stylesheet" href="slider.css">
    <title>Falcon UI | Slider</title>
</head>

<body>
    <nav class="navbar-container d-flex">
        <div class="brand_name">
            <a class="navbar-heading" href="/">Falcon UI</a>
            <span class="brand_animation"></span>
        </div>
        <div class="navbar-list-container">
            <ul class="navbar-list d-flex">
                <li class="navbar-list-icons">
                    <a class="nav-icons" target="_blank" href="https://github.com/vaibhav18matere">
                        <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    <span class="brand_animation"></span>
                </li>
                <li class="nav_list_icons">
                    <a class="nav-icons" target="_blank" href="https://www.linkedin.com/in/vaibhavmatere">
                        <i class="fa fa-linkedin fa-2x"></i></a>
                    <span class="brand_animation"></span>
                </li>
                <li class="nav_list_icons">
                    <a class="nav-icons" target="_blank" href="https://twitter.com/vaibhav_matere">
                        <i class="fa fa-twitter fa-2x"></i></a>
                    <span class="brand_animation"></span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="midlle_container">
        <div class="siderbar_box">
            <div class="slider_box_item"><a href="/components/getting-started/start.html">Installation</a></div>
            <div class="slider_box_item"><a href="../alert/alert.html">Alert</a></div>
            <div class="slider_box_item"><a href="../avatar/avatar.html">Avatar</a></div>
            <div class="slider_box_item"><a href="../badge/badge.html">Badge</a></div>
            <div class="slider_box_item"><a href="../button/button.html">Button</a></div>
            <div class="slider_box_item"><a href="../card/card.html">Card</a></div>
            <div class="slider_box_item"><a href="../grid/grid.html">Grid</a></div>
            <div class="slider_box_item"><a href="../responive-image/responsive-img.html">Image</a></div>
            <div class="slider_box_item"><a href="../inputs/inputs.html">Input</a></div>
            <div class="slider_box_item"><a href="../lists/lists.html">List</a></div>
            <div class="slider_box_item"><a href="../modal/modal.html">Modal</a></div>
            <div class="slider_box_item"><a href="../navbar/navbar.html">Navbar</a></div>
            <div class="slider_box_item"><a class="active_item" href="../slider/slider.html">Slider</a></div>
            <div class="slider_box_item"><a href="../text-utilities/text-utilities.html">Utility</a></div>
        </div>
        <div class="content_box">
            <h1>Slider</h1>
            <div class="section-main-text">
                <p>Slider is used to show range of specific item. The basic slider is horizontal and has a single handle
                    that can be moved with the mouse or by using the arrow keys.</p>
                <div class="slider-range f-column">
                    <div class="range">
                        <p>0%</p>
                        <p>50%</p>
                        <p>100%</p>
                    </div>
                    <input class="input-progress" type="range" min="1" max="100" value="50">
                </div>
            </div>
            <div class="margin-top3">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=3024-night&wt=none&l=javascript&width=1026.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522slider-range%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522range%2522%253E%250A%2520%2509%253Cp%253E0%2525%253C%252Fp%253E%250A%2509%253Cp%253E50%2525%253C%252Fp%253E%250A%2509%253Cp%253E100%2525%253C%252Fp%253E%250A%2520%2520%253C%252Fdiv%253E%250A%2509%253Cinput%2520class%253D%2522input-progress%2522%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%253E%250A%253C%252Fdiv%253E"
                    style="width:100%; height:350px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
</body>

</html>