.nav-container{
  position: relative;
  height: 20rem;
  margin: 1rem 0 2rem 0;
  overflow-y: auto;
}
.navbar{
  background-color: var(--primary-light);
  flex-wrap: wrap;
  color: var(--white);
  margin-top: 0;
}
.navbar>ul{
  list-style: none;
}
.nav-fixed{
  position: sticky;
  top: 0;
} 
.navbar>ul>li, .navbar>img{
  cursor: pointer;
}
.navbar-right{
  flex-wrap: wrap;
  gap: 2rem;
}
.nav-container .nav-main-text{
  padding: 1rem;
}
.nav-title{
  margin-left: 2rem;
  font-size: 1.25rem;
  font-weight:bold;
  letter-spacing: 2px;
}
.header-fixed{
  position: sticky;
  top: 0;
} 
.hamberg-btn,
.drawer-hamberg-btn{
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.2rem;
}
.hamberg-btn:hover,.drawer-hamberg-btn:hover{
  border-radius: 50%;
  background: var(--secondary-light);
}
.navbar-right img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
} 
.drawer-txt{
  padding: 1rem 0;
} 
.drawer-container{
  background-color: var(--white);
  width: 250px;
  height: 100%;
  left: -250px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0%;
  box-shadow: var(--secondary-light , 0.35) 0px 5px 15px;
}
.drawer-title{
  padding: 0.2rem 0 0.2rem 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.drawer-close{
  font-size: 2rem;
  color: var(--danger);
}
.drawer-trans-on{
  left: 0;
  transition: left 0.5s ease-out;
}
.drawer-trans-off{
  left: -300px;
  transition: left 0.5s ease-out;
}
.drawer-menu a{
  padding: 0.5rem;
  color: var(--primary);
  text-decoration: none;
  letter-spacing:0.5px;
}
.drawer-menu a .link{
  gap: 1rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 0px 15px 15px 0px;
}
.drawer-menu .link:hover {
  background-color: var(--light);
}

@media screen and (max-width:550px){
.navbar{
  font-size: 0.8rem;
  padding: 0.5rem;
}
.navbar-right li span {
  display: none;
} 
.nav-title {
  margin-left: 0.5rem;
}
.hamberg-btn {
  font-size: 1rem;
  padding: 0.5rem;
}
.navbar-right img {
  width: 25px;
  height: 25px;
}
}
.fa:hover{
  font-weight: bolder;
  color: var(--card-border);
}