.list-group{
  border: 1px solid var(--border-radius-clr);
  width: 70%;
}
.list-item{
  padding: 1.25rem 0.75rem;
  border-bottom: 1px solid var(--secondary-light);
  list-style-type: none;
}
.list-item:nth-last-child(1){
  border-bottom: none;
}
.list-item:hover{
  background: var(--light);
}
.padding-start{
  padding-inline-start: 0;
}
.grey-txt{
  color: var(--secondary);
}