.badge-container{
    flex-wrap: wrap;
    margin-top: 2rem;
}
.badges{
    padding:2rem;
    font-size: 1.5rem;
}
.primary-badge{
    color:var(--white);
    background-color: var(--primary); 
}
.secondary-badge{
    border: 3px solid var(--primary);
    color: var(--primary);
}
.primary-pill{
    color: var(--white);
    background: var(--primary);
}
.secondary-pill{
    color: var(--primary);
    border: 3px solid var(--primary);
}
.badge-carbon{
    margin-bottom: -250px;
}
/* badge-on-icon style */
.badge-on-icon{
    margin: 3rem;
}
.notif-icon-badge{
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 2rem;
}
.total-badge-notif{
    position: absolute;
    top: -5px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
}
