.badge-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.badge-on-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
}
.badge{
    padding: 8px;
    font-size: 1.5rem;
    margin: 1rem;
}
.primary-badge{
    color:var(--white);
    background-color: var(--primary); 
}
.secondary-badge{
    border: 3px solid var(--primary);
    color: var(--primary);
}
.primary-pill{
    color: var(--white);
    background: var(--primary);
    border-radius: 15px;
}
.secondary-pill{
    color: var(--primary);
    border: 3px solid var(--primary);
    border-radius: 15px;
}
.notif-icon-badge{
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.total-badge-notif{
    position: absolute;
    top: -5px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 50%;
}