.container, .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-descr{
    text-align: left;
}
.click-box{
    display:block;
    width:160px;
    height:50px;
    margin-top: 3rem;
    background: var(--primary);
    color:var(--white);
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    border-radius: 0.375rem;
    border: none;
    transform: 0.5s;
}
.click-box:hover{
background: var(--primary-light);
}
#click{
    display: none;
}
#click:checked ~ .content {
    visibility: visible;
    opacity: 1;
}
.content{
    visibility: hidden;
    opacity: 0;
    width:400px;
    height:250px;
    background:var(--white);
    border-radius: 0.375rem;
    box-shadow: 0 2px 12px 0 var(--dark, 0.4);
    transition: 0.4s ease-in;
}
.header{
    height:70px;
    background: var(--primary);
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0  var(--dark,0.2) ;
}
.header h2{
    color:var(--white);
    padding-left: 70px;
    font-weight: normal;
    letter-spacing: 1px;
}
.cross{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    color:var(--white);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.cross:hover{
    color: var(--light);
}
.check{
    font-size: 60px;
    color:var(--primary);
    font-weight: bold;
    height: 80px;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    margin:30px 0 0 160px;
}
#submit-form-txt{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;  
}
.close-btn{
    position: absolute;
    bottom:0.75rem;
    right:1.5rem;
    border:1px solid var(--primary);
    border-radius: 0.25rem;
    padding:10px;
    letter-spacing: 1px;
    font-weight: bold;
}
.close-btn:hover{
    color:var(--white);
    background: var(--primary);
}