.input-container{
    flex-wrap: wrap;
}
.input-sub-container {
    flex-direction: column;
}
.text-input,
.number-input,
.pwd-input{
    max-width: 100%;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border: 2px solid var(--secondary-light);
    font-weight: bolder;
}
.text{
    font-size: large;
}
.text-input:hover,
.number-input:hover,
.pwd-input:hover{
    border: 2px solid var(--secondary);
}
.radio-input,
.checkbox-input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.radio-chk-btn{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}