.alert-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
}
.alert{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:70%;
    padding: 0.5rem 1rem;
    border-radius: 0.15rem;
}
.alert div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    width: 2rem;
}
.alert span{
    font-weight: bolder;
    letter-spacing: 0.1rem;
}
.success-alert{
    color: var(--success);
    background:var(--success-bg);
}
.danger-alert{
    color: var(--danger);
    background-color: var(--danger-bg);
}
.warning-alert{
    color:var(--warning);
    background-color:var(--warning-bg);
}
.info-alert{
    color: var(--info);
    background-color:var(--info-bg);
}